@mixin RepeatCode{
    margin-left: 45px;
    width: 350px;
    height: 35px;
    border: 1px  solid black;
};
.main
{
    width: 1250px;
    height: 544px;
    border:2px solid black;
    padding-top: 15px;
    &_img
    {
        margin: 0px;
        padding: 0px;
        margin-left: 15px;
        width: 20px;
        height: 20px;
        float: left;
    }
    &_list
    {
        list-style: none;
        margin-top: 0px;
        margin-left: 30px;
        padding: 0px;
        display: flex;
        li
        {
            margin-top: 3px;
            margin-left: 20px;
        }
        a
        {
            text-decoration: none;
        }
    }
    &_section1
    {
        p
        {
            margin-left: 25px;
        }
    }
}
#dropdown
{
   @include RepeatCode;
   width: 356px;
   height: 40px;
}
#book
{
    @include RepeatCode;
    margin-left: 77px;  
}
#email
{
    @include RepeatCode;
    margin-left: 20px;  
}
#name
{
    @include RepeatCode;
    margin-left: 20px;  
}
#publish
{
    @include RepeatCode;
    margin-left: 45px;  
}
#price
{
    @include RepeatCode;
    margin-left: 77px;  
}
.design
{
    background-color: transparent;
    border:1px solid black;
    margin-top: 20px;
 margin-left: 28px;
 font-size: 14px;
 width: 220px;
 height: 37px;
}
#show
{
    background-color: transparent;
    border:1px solid black;
    margin-left: 35px;
    width: 170px;
    height: 30px;
}
